<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twitter.yamba"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="com.twitter.yamba.permission.READ_TIMELINE"
        android:label="Allows the app to read the timeline data"
        android:protectionLevel="dangerous" >
    </permission>
    <permission
        android:name="com.twitter.yamba.permission.WRITE_TIMELINE"
        android:protectionLevel="signature" >
    </permission>

    <application
        android:name="com.twitter.yamba.YambaApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.twitter.yamba.StatusActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.twitter.yamba.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.twitter.yamba.SettingsActivity"
            android:label="@string/action_settings" >
        </activity>
        <activity android:name="com.twitter.yamba.DetailsActivity" >
        </activity>

        <service android:name="com.twitter.yamba.RefreshService" >
        </service>

        <provider
            android:name="com.twitter.yamba.StatusProvider"
            android:authorities="com.twitter.yamba.provider"
            android:readPermission="com.twitter.yamba.permission.READ_TIMELINE"
            android:writePermission="com.twitter.yamba.permission.WRITE_TIMELINE" >
        </provider>

        <receiver android:name="com.twitter.yamba.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.twitter.yamba.NotificationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.twitter.yamba.action.NEW_STATUS" />
            </intent-filter>
        </receiver>
    </application>

</manifest>