<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marakana.yambaservice"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:label="@string/permission_label_access_service"
        android:name="com.marakana.yambaservice.permission.ACCESS_SERVICE"
        android:protectionLevel="signature" >
    </permission>
    <permission
        android:label="@string/permission_label_stop_service"
        android:name="com.marakana.yambaservice.permission.STOP_SERVICE"
        android:protectionLevel="dangerous" >
    </permission>

    <application >
        <service
            android:name=".UpdateService"
            android:permission="com.marakana.yambaservice.permission.ACCESS_SERVICE" >
            <intent-filter >
                <action android:name="com.marakana.yambaservice.UpdateService" />
            </intent-filter>
        </service>
        <service android:name="com.marakana.yambaservice.TwitterService" >
            <intent-filter >
                <action android:name="com.marakana.yambacommon.ITwitterService" />
            </intent-filter>
        </service>
    </application>

</manifest>